<!DOCTYPE html>
<html>
  <head>
    <title> Wbu Math Help</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <div id="container">
      <h1 class="text-center">Give a name</h1> 
      <img id= "banner" src="https://wbulife-website.manuelladonmeza.repl.co/static/banner2.jpeg">
      <h2>About the page</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3>Please select your class level</h3>
      
      <div>
        {% for classe in classs %}
          {% include 'classItem.html' %}
        {% endfor %}
      </div>
  </body>
</html>